<FORM><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>

<h1 style="font-family:Arial Black;">About</h1>


<div class="word">      
    <h4 align="center">OUR STORY</h4>
    <p>Archer Knight was set up to provide highly experienced subsea consultancy support. The company's business model is focused on supplying leading industry knowledge and experience to specific projects on a call off basis.</p>

    <h4 align="center">OUR VISION</h4>
    <p>To be the 'first thought' company in the subsea industry for call off, discipline specific support.</p>

    <h4 align="center">OUR DIFFERENTIATOR</h4>
    <p>Archer Knight have over 30 years' subsea management experience in the subsea oil & gas industry with over 2,000 established contacts in NOCs, IOCs, contractors, suppliers and industry/government bodies with every oil and gas hub throughout the world.</p>

</div>      