  <div class='col-md-6'>
  	
  	<div class= "same">

    <h1 style="color:#5B5D62 ">Contact</h1>

   </div>

		<p>Tel: 07718 312121</p>
		<p>Tel: 07802 578334</p>
		<p>Tel: 01224358694</p>
	 	<p>info@archerknight.co.uk</p>
		<p>7 Carden Place</p>
		<p>Aberdeen</p>
		<p>AB10 1PP</p>
    </div>
  <!-- Google Map -->   