<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>﻿

<div class='ak'>
  <h2><font color="#5B5D62"><b>Welcome to <b><font color="#00B4E4"><b>Archer Knight<b></font></a></h2>
</div>

<div class='carouselak'>
  <div class='col-md-10'>

      <div id = "mycarousel" class = "carousel slide" data-ride="carousel">
          <ol class = "carousel-indicators">
            <li data-target = "#mycarousel" data-slide-to = "1" class = "active"></li>
            <li data-target = "#mycarousel" data-slide-to = "0"></li>
          </ol>

          <div class = "carousel-inner">

            <div class = "item active">
                <%= image_tag("ak1.jpg",  alt: "ak2", class:"img_responsive") %>
            </div>

            <div class = "item">
                <%= image_tag("ak2.jpg",  alt: "ak1", class:"img_responsive") %>
            </div>
          </div>

          <a class = "carousel-control left" href = "#mycarousel" data-slide = "prev">
            <span class = "icon-prev"> </span>
          </a>
          <a class = "carousel-control right" href = "#mycarousel" data-slide = "next">
            <span class = "icon-next"> </span>
          </a>

    </div>
  </div>

  <div class='col-md-2'>
    <div class = "oilprice">
      <div class="transbox">
        <script type="text/javascript" src="http://oilprice.com/widgets/crude/crudechart.js"></script>
        <noscript>Please Enable Javascript for this <a href="http://oilprice.com/">Oil Price</a> widget to work</noscript>
      </div>
    </div>
  </div>

</div>

<div class = 'col-md-10'>
    <div class ="ticker">
      <marquee><font color="#00B4E4"><b>Assisting energy sector companies grow and internationalise.<b></font></marquee>
    </div>
</div>

<div class='col-md-2'>

</div>
