<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>﻿

<div class='wrapper'>
  <div class='col-md-10'>
    <h2>Welcome to <a href="https://www.archerknight.com">Archer Knight</a></h2>

      <div id = "mycarousel" class = "carousel" data-ride="carousel">
          <ol class = "carousel-indicators">
            <li data-target = "#mycarousel" data-slide-to = "0" class = "active"></li>
            <li data-target = "#mycarousel" data-slide-to = "1"></li>
            <li data-target = "#mycarousel" data-slide-to = "2"></li>
          </ol>

          <div class = "carousel-inner">

            <div class = "item active">
                <%= image_tag("oil.jpg",  alt: "oil", class:"img_responsive") %>
            </div>

            <div class = "item">
                <%= image_tag("oil2.jpg",  alt: "oil2", class:"img_responsive") %>
            </div>

            <div class = "item">
                <%= image_tag("oil.jpg",  alt: "oil", class:"img_responsive") %>
            </div>
          </div>
      </div>
    </div>

  <div class='col-md-2'>
    <div class = "row">
      <div class="transbox">
        <script type="text/javascript" src="http://oilprice.com/widgets/crude/crudechart.js"></script><noscript>Please Enable Javascript for this <a href="http://oilprice.com/">Oil Price</a> widget to work</noscript>
      </div>
  </div>
</div>

</div>
<div class = 'col-md-10'>
    <div class ="ticker">
      <marquee>Assisting energy sector companies grow and internationalise.</marquee>
    </div>
          <br><br>  <br><br><br><br><br><br><br><br><br><br><br><br>
</div>
  <div class='col-md-2'>
    <p><strong>Add log in feature here?</strong></p>
</div>