<FORM><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>

<div class= "same">

<h1 style="color: #5B5D62" ">R.A.K4</h1>

</div>

  <div class= "word">
      
      <p align="left" style="color:#00B4E4">What is it?</p>
     <p>Reconnaissance AK4 (r.a.k.4), is an innovative software focused on gathering web-based patterns, trends, associations and behaviours</p>
     <p>throughout the energy sector and applying the analytical findings to our clients’ strategy documents in real time.</p> 

     <p align="left" style="color:#00B4E4">What is it?Why is it needed?
    <p>The global subsea industry is composed of thousands of moving parts and entities, such as Operators, Supply Chain, Service Providers, Contracts, Projects, Assets, People and Infrastructure.</p>
    <p>It can be difficult to understand how each of these interact in the wider market context.</p>
    <p align="left" style="color:#00B4E4">How good is it?</p>
    <p>This resource provides greater efficiency than a one-off report.</p>
    <p>Delivers a real-time view of the market – highlighting key developments and relationships pivotal to client strategies.</p>
    <p>Allows users to conduct their own trend analysis.</p> 
 
  </div>