<h1>r.a.k 4</h1>

<h3 style="color:#00B4E4">What is it?</h3>
<h4>Reconnaissance AK4 (r.a.k.4), is an innovative software focused on gathering web-based patterns, trends, associations and behaviours throughout the energy sector and applying the analytical findings to our clients’ strategy documents in real time.</h4>

<h3 style="color:#00B4E4">Why is it needed?</h3>
<h4>The global subsea industry is composed of thousands of moving parts and entities, such as Operators, Supply Chain, Service Providers, Contracts, Projects, Assets, People and Infrastructure.  It can be difficult to understand how each of these interact in the wider market context.</h4>
<h3 style="color:#00B4E4">How good is it?</h3>
<h4><li>This resource provides greater efficiency than a one-off report.</h4>
<h4><li>Delivers a real-time view of the market – highlighting key developments and relationships pivotal to client strategies.</h4>
<h4><li>Allows users to conduct their own trend analysis.</h4>
