<FORM><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>

<h1 style="font-family:Arial Black;">R.A.K4</h1>

<div class= "word">

  <p align="left" style="color:#5B5D62">What is it?</p>
        <p>Reconnaissance AK4 (r.a.k4), is an innovative software focused on gathering web-based</p>
         <p>patterns, trends, association and behaviours throughout the energy sector and applying</p>
        <p> the analytical findings to our clients' strategy document in real time.</p>


   <p align="left" style="color:#5B5D62">Why is needed?</p>
         <p>The global subsea industry is composed of thousands of moving parts and entities,such as</p>
         <p>Operators,Supply Chain,Service Providers, Contracts, Projects, Assets, People and</p>
         <p>infrastructure.It can be difficult to understand how each of these interact in the wider market context.</p>

   <p align="left" style="color:#5B5D62">How good is it?</p>
        <ul><li>Please use the same footer as above.</li></ul>
        <ul><li>Delivers a real-time view of the market - highlighting key development and
        relationships pivotal to client strategies</li></ul>
        <ul><li>Allow users to conduct theit</li></ul>

  </div>