<FORM><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>	
<html>
  <body>
      
     <div class= "same">

    <h1 style="color: #5B5D62">Service</h1>

     </div>
      
 <div class="word">      
 <h2 align="center" style="color: #00B4E4">DIVING</h2>
     <p>Our expert has over 30 years’ industry experience working for major and independent operators as a diving technical authority and subsea technical 
     engineering authority. We can provide the following services:
     Technical Authority Processes & Procedures - Audits - Technical Audits - Safety Management System Audits - Medical Audits - FMECA - CPD - IMCA 
    Membership Assistance - Client Representation. For more details on this service email info@archerknight.com</p>
 <h2 align="center" style="color: #00B4E4">BUSINESS DEVELOPMENT</h2>
    <p>Our expert has over 30 years’ industry experience working for major offshore contractors in commercial, tendering and business development roles. </p>
 <h2 align="center" style="color: #00B4E4">HSEQ</h2>
    <p>Our expert has over 30 years’ experience in Health and Safety, Engineering, Quality and Risk management working for subsea and commissioning
     contractors.</p>
 <h2 align="center" style="color: #00B4E4">COMMERCIAL</h2>
    <p>Our expert has over 30 years’ experience in senior commercial positions with operators and contractors, throughout the UKCS and globally.</p>
 <h2 align="center" style="color: #00B4E4">ROV</h2>
     <p>Our expert has over 25 years’ experience in ROV and ROVSV senior project direction, management and execution throughout the UKCS and globally.
    Further details on all the above mentioned facets are available upon request. info@archerknight.com</p>
   <br><br><br><br><br><br><br><br>
</div>
   </p>
  </body>
</html>
