<FORM><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>	
</head>
  <body>
    <h1>Service</h1>
    <p>
 <div class="word"           
 <h4 align="Left">DIVING</h4>
 <p>Our expert has over 30 years’ industry experience working for major and independent operators as a diving technical authority and subsea technical </p>
 <p>engineering authority. We can provide the following services:</p>
<p>Technical Authority Processes & Procedures - Audits - Technical Audits - Safety Management System Audits - Medical Audits - FMECA - CPD - IMCA </p>
<p>Membership Assistance - Client Representation. For more details on this service email info@archerknight.com</p>
<h4 align="Left">BUSINESS Development</h4>
<p>Our expert has over 30 years’ industry experience working for major offshore contractors in commercial, tendering and business development roles. </p>

</div>
 
    
    </p>
  </body>
</html>