<footer>
  <div class="footer" id="footer" style ='background-color: #5B5D62'>
    <!-- style ='background-color: #5B5D62  -->
    <div class="container">
      <div class="row">
        <div class="col-lg-4  col-md-4 col-sm-4 col-xs-4">
          <h3>OUR PARTNERS</h3>
          <center><a href="http://abdn.ac.uk/">University of Aberdeen<a></center>
          
        </div>

        <div class="col-lg-4  col-md-4 col-sm-4 col-xs-4">
          <h3>Customer Service</h3>
          <center><%= link_to "About",static_pages_about_path,:class => 'navbar-link'  %></center>
          <center><%= link_to "Contact",static_pages_contact_path,:class => 'navbar-link'  %></center>
          Copyright © 2017 <strong>Powered by By RAK4 System. </strong><br>All rights reserved.
        </div>

        <div class="col-lg-4  col-md-4 col-sm-6 col-xs-12 ">
          <h3>Follow us on</h3>
          <ul class="social">
            <li> <a href="https://www.facebook.com/"> <i class=" fa fa-facebook"></i></a></li>
            <li> <a href="https://twitter.com/"> <i class="fa fa-twitter"></i></a></li>
            <li> <a href="https://plus.google.com/"> <i class="fa fa-google-plus"></i></a></li>
            <li> <a href="https://www.instagram.com/accounts/login/"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>